.frame, .roll, .frame-number
	border-width: 1px
	border-style: solid
	border-color: black

.game
	display: flex
	flex-wrap: wrap
	list-style-type: none

.frame
	width: 200px
	height: 150px

.frame-number
	border-width: 0 0 1px 0

.frame-number, .total, .roll, h1, p
	text-align: center
	font-family: sans-serif
	font-size: 20px

.total, h1
	font-size: 42px

.rolls-container
	width: 150px
	display: flex
	float: right

.roll
	width: 2em
	height: 2em
	flex-grow: 1
	border-width: 0 0 1px 1px
